{% extends 'seller/base_seller.html' %}

{% block seller_content %}
<div class="form-box">
    <h2>Update Product Details</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% for field in form %}
            <p>
                <label>{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <span class="field-error">{{ field.errors.as_text }}</span>
                {% endif %}
            </p>
        {% endfor %}
        
        <button type="submit" class="buy-btn" style="background-color: #27ae60;">Update product</button>
    </form>
</div>
{% endblock %}

